{% extends 'orders/base.html' %}

{% block content %}
    <div class="mt-4" style="width: 60%; margin: auto">
        <h2>Оформление индивидуального заказа</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Вывод всех полей формы в виде параграфов -->
            <div class="row g-3">
                <div class="col-sm-6 mt-3">
                    <label for="form.product_name.id_for_label" class="form-label">Название продукта</label>
                    {{ form.product_name }}
                </div>
                <div class="col-sm-6 mt-3">
                    <label for="form.product_size.id_for_label" class="form-label">Размер продукта</label>
                    {{ form.product_size }}
                </div>
            </div>
            <div class="mt-4">
                <label for="form.product_description.id_for_label" class="form-label">Описание продукта</label>
                {{ form.product_description }}
            </div>
            <div class="custom-file mt-3">
                {{ form.product_photo }}
                <label class="custom-file-label" for="{{ form.product_photo.id_for_label }}" id="imageLabel">Выберите изображение:</label>
            </div>

            <!-- Дополнительные элементы или стилизация, если нужно -->

            <button type="submit" class="btn mt-4" style="background: black; color: white">Оформить заказ</button>
        </form>
    </div>
{% endblock %}
