{% extends 'orders/base.html' %}
{% load humanize %}

{% block content %}
<section>
    <div class="container">
        <div class="py-5 text-center">
            <h1>Оплата заказа</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-dark">Корзина</span>
                    <span class="badge badge-dark badge-pill text-white">{{ baskets.total_quantity }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for basket in baskets %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ basket.product.name }}</h6>
                            <small class="text-muted">{{ basket.quantity }} шт.</small>
                        </div>
                        <span class="text-muted">{{ basket.sum|intcomma }} руб.</span>
                    </li>
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Сумма к оплате</span>
                        <strong>{{ baskets.total_sum|intcomma }} руб.</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Адрес доставки</h4>
                <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
                <form class="payform-tinkoff" name="payform-tinkoff" id="payform-tinkoff">
                    {% csrf_token %}
                    <input class="payform-tinkoff-row" type="hidden" name="terminalkey" value="1708344735740DEMO">
                    <input class="payform-tinkoff-row" type="hidden" name="frame" value="false">
                    <input class="payform-tinkoff-row" type="hidden" name="language" value="ru">
                    <input class="payform-tinkoff-row" type="hidden" name="receipt" value="">
                    <input class="payform-tinkoff-row" type="hidden" placeholder="Сумма заказа" name="amount" value="{{ baskets.total_sum|floatformat:0 }}">
                    <input class="payform-tinkoff-row" type="hidden" placeholder="Номер заказа" name="order">
                    <input class="payform-tinkoff-row" type="hidden" placeholder="Описание заказа" name="description">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="form.fio.id_for_label" class="form-label">ФИО</label>
                            {{ order_form.fio }}
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="form.email.id_for_label" class="form-label">Адрес электронной почты</label>
                            {{ order_form.email }}
                        </div>

                        <div class="col-sm-6 mt-3">
                            <label for="form.email.id_for_label" class="form-label">Номер телефона</label>
                            {{ order_form.phone }}
                        </div>

                        <div class="col-sm-12 mt-3">
                            <label for="form.address.id_for_label" class="form-label">Адрес</label>
                            {{ order_form.address }}
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="btn btn-block btn-success" type="submit">Оплатить</button>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    const TPF = document.getElementById("payform-tinkoff");

    TPF.addEventListener("submit", function (e) {
        e.preventDefault();
        const {description, amount, email, phone, receipt} = TPF;

        if (receipt) {
            if (!email.value && !phone.value)
                return alert("Поле E-mail или Phone не должно быть пустым");

            TPF.receipt.value = JSON.stringify({
                "EmailCompany": "mail@mail.com",
                "Taxation": "patent",
                "Items": [
                    {
                        "Name": description.value || "Оплата",
                        "Price": amount.value,
                        "Quantity": 1.00,
                        "Amount": amount.value + '00',
                        "PaymentMethod": "full_prepayment",
                        "PaymentObject": "service",
                        "Tax": "none"
                    }
                ]
            });
        }
        pay(TPF);
    })
</script>
</section>
{% endblock %}


