{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/style/slider.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/style/pagintaion.css' %}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/script.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Проверка количества элементов в модели ExternalImage
        var externalImageCount = {{ external_images|length }};

        // Если в модели есть более одного элемента, инициализируем слайдер
        if (externalImageCount > 1) {
            var slider = new SimpleAdaptiveSlider('.slider', {
                autoplay: true,
                interval: 10000,
            });
        }
    });
</script>
{% endblock %}

{% block content %}
    <!-- header-slider -->
    <header>
        <!-- Разметка слайдера -->
    {% if external_images %}
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__items">
                    {% for external_image in external_images %}
                        <div class="slider__item">
                            {% if external_image.external_link %}
                                <a href="{{ external_image.external_link }}" target="_blank">
                            {% endif %}
                            <img class="img-fluid" src="{% if external_image.image %}{{ external_image.image.url }}{% endif %}" alt="..." loading="lazy">
                            {% if external_image.external_link %}
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    {% endif %}
    </header>

    <!-- main -->
    <main>
        {% for category, items in products.items %}
        <div class="testimonials" id="{{ category.id }}">
            <div class="general-heading">
                <h1>{{ category.name }}</h1>
                {% if category.id %}
                    <a href="{% url 'category_paginator' category_id=category.id page_number=1 %}">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>
                {% endif %}
            </div>
            <div class="testimonial-carts">
                {% for item in items %}
                    <div class="testimonial-cart">
                    <div class="images">
                        <img src="{{ item.main_image.url }}" alt=""><br>
                        <a href="{% url 'basket_add' item.id %}" style="margin-top: 70%; font-size: 1.8em; color: #212323; position: relative;">
                            <i class='bx bxs-cart-add' ></i>
                        </a>
                    </div>
                    <div class="testimonial-description">
                        <a href="{% url 'product' item.id %}">
                            <h2 class="testimonial-title-desctiption">
                                 {{ item.name }}
                            </h2>
                        </a>
                        <div class="price-and-status"><span class="testimonial-price">от {{ item.converted_price|intcomma }}</span>
                            {% if item.in_stock %}<span>В НАЛИЧИИ</span>{% else %}<span class="tag"> По запросу</span>{% endif %}
                        </div>
                    </div>
                    <a href="{% url 'product' item.id %}" class="testimonial-button-go-over">
                        <button>Перейти</button>
                    </a>

                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% if selected_category %}
        <div class="testimonials" id="{{ selected_category.id }}">
            <div class="general-heading">
                <h1>{{ selected_category.name }}</h1>
                {% if selected_category.name == 'Индивидуальный заказ' %}
                    <a href="{% url 'orders:custom_order' %}">Оформить заказ <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>
                    {% else %}
                    hello
                {% endif %}
{#                <a href="#">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>#}
            </div>
            <div class="testimonial-carts">
                {% for item in products_paginator %}
                    <!-- Отображение информации о товаре -->
                    <div class="testimonial-cart">
                        <div class="images">
                            <img src="{{ item.main_image.url }}" alt=""><br>
                            <a href="{% url 'basket_add' item.id %}" style="margin-top: 70%; font-size: 1.8em; color: #212323; position: relative;">
                                <i class='bx bxs-cart-add' ></i>
                            </a>
                        </div>
                        <div class="testimonial-description">
                            <a href="{% url 'product' item.id %}">
                                <h2 class="testimonial-title-desctiption">
                                    {{ item.name }}
                                </h2>
                            </a>
                            <div class="price-and-status">
                                <span class="testimonial-price">от {{ item.converted_price|intcomma }}</span>
                                {% if item.in_stock %}
                                    <span>В НАЛИЧИИ</span>
                                {% else %}
                                    <span class="tag"> По запросу</span>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{% url 'product' item.id %}" class="testimonial-button-go-over">
                            <button>Перейти</button>
                        </a>
                    </div>
                    <!-- Завершение блока товара -->
                {% endfor %}
            </div>
        </div>
            <!--Pagination-->
           <div class="pagination">
                <a href="{% if products_paginator.has_previous %}{% url 'category_paginator' category_id=selected_category.id page_number=products_paginator.previous_page_number %}{% else %}{% endif %}" class="{% if not products_paginator.has_previous %} disabled {% endif %}">
                    <i class='bx bx-chevron-left'></i>
                </a>
                {% for page in products_paginator.paginator.page_range %}
                    <a href="{% url 'category_paginator' category_id=selected_category.id page_number=page %}" {% if products_paginator.number == page %}class="active"{% endif %}>{{ page }}</a>
                {% endfor %}
                <a href="{% if products_paginator.has_next %}{% url 'category_paginator' category_id=selected_category.id page_number=products_paginator.next_page_number %}{% else %}{% endif %}" class="{% if not products_paginator.has_next %} disabled {% endif %}">
                    <i class='bx bx-chevron-right'></i>
                </a>
            </div>

{#    {% else %}#}
{#        <p>Нет товаров для отображения</p>#}
    {% endif %}
    </main>
{% endblock %}

