{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/style/slider.css' %}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // инициализация слайдера
            var slider = new SimpleAdaptiveSlider('.slider', {
                autoplay: true,
                interval: 10000,
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- header-slider -->
    <header>
        <!-- Разметка слайдера -->
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/1.png' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/2.jpg' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/3.jpg' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/4.jpg' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    </header>

    <!-- main -->
    <main>
        {% for category, items in products.items %}
        <div class="testimonials" id="shoes">
            <div class="general-heading">
                <h1>{{ category }}</h1>
                <a href="#">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>
            </div>
            <div class="testimonial-carts">
                {% for item in items %}
                    <div class="testimonial-cart">
                    <div class="images">
                        <img src="{{ item.image }}" alt="">
                    </div>
                    <div class="testimonial-description">
                        <a href="{% url 'product' %}" target="_blank">
                            <h2 class="testimonial-title-desctiption">
                                 {{ item.name }}
                            </h2>
                        </a>
                        <div class="price-and-status"><span class="testimonial-price">от {{ item.price }}</span>
                            {% if item.in_stock %}<span>В НАЛИЧИИ</span>{% else %}<span class="tag"> По запросу</span>{% endif %}
                        </div>
                    </div>
                    <a href="{% url 'product' %}" class="testimonial-button-go-over">
                        <button>Перейти</button>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}

{#        <div class="testimonials" id="clothes">#}
{#            <div class="general-heading">#}
{#                <h1>Одежда</h1>#}
{#                <a href="#">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>#}
{#            </div>#}
{#            <div class="testimonial-carts">#}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://pngimg.com/uploads/hoodie/hoodie_PNG22.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            TRAVIS SCOTT NEW SIGHT ZIP UP HOODIE OLIVE (SS22)#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span>В НАЛИЧИИ</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://pngimg.com/uploads/hoodie/hoodie_PNG24.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            NIKE LIFE CABLE KNIT SWEATER OXEN BROWN#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://www.pngarts.com/files/11/Sweatshirt-Hoodie-PNG-High-Quality-Image.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            NIKE LIFE CABLE KNIT SWEATER RATTAN#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://pngimg.com/uploads/hoodie/hoodie_PNG29.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            STONE ISLAND HAND SPRAYED COTTON CREW KNIT SAND#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="testimonials" id="clothes">#}
{#            <div class="general-heading">#}
{#                <h1>Аксессуары</h1>#}
{#                <a href="#">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>#}
{#            </div>#}
{#            <div class="testimonial-carts">#}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://sc04.alicdn.com/kf/UTB8gBMRhgnJXKJkSael760UzXXaH.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            NE WORLDWIDE SHOE BAG ORANGE#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span>В НАЛИЧИИ</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://ru-static.z-dn.net/files/d74/08e709cdda5eb4566cef7ea3f2e7a8a3.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            TARRAGO PROTECTOR UNIVERSAL 300ML#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://pngimg.com/uploads/backpack/backpack_PNG6343.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            NIKE UTILITY SPEED BACKPACK OLIVE#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://i.ebayimg.com/images/g/g3AAAOSwjaNc-66y/s-l1600.jpg" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            SUPREME X POLARTEC CAMP CAP BLACK (FW22)#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="testimonials" id="clothes">#}
{#            <div class="general-heading">#}
{#                <h1>Коллекции</h1>#}
{#                <a href="#">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>#}
{#            </div>#}
{#            <div class="testimonial-carts">#}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://brandpresent.ru/netcat_files/multifile/1794/ZGBS_2935.jpg" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            TRAVIS SCOTT NEW SIGHT ZIP UP HOODIE OLIVE (SS22)#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span>В НАЛИЧИИ</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="http://file.mobilmusic.ru/53/81/83/941383-800.jpg" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            NIKE LIFE CABLE KNIT SWEATER OXEN BROWN#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://papik.pro/izobr/uploads/posts/2023-03/1679443951_papik-pro-p-kartina-matreshka-dlya-detei-43.png"#}
{#                            alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            NIKE LIFE CABLE KNIT SWEATER RATTAN#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="testimonial-cart">#}
{#                    <div class="images">#}
{#                        <img src="https://pluspng.com/img-png/toy-bear-png-teddy-bear-png-hd-png-image-1200.png" alt="">#}
{#                    </div>#}
{#                    <div class="testimonial-description">#}
{#                        <h2 class="testimonial-title-desctiption">#}
{#                            STONE ISLAND HAND SPRAYED COTTON CREW KNIT SAND#}
{#                        </h2>#}
{#                        <div class="price-and-status"><span class="testimonial-price">от 39 900 ₽</span>#}
{#                            <span class="tag"> По запросу</span>#}
{#                        </div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <a href="#" class="testimonial-button-go-over">#}
{#                        <button>Перейти</button>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </main>
{% endblock %}

