{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/style/slider.css' %}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // инициализация слайдера
            var slider = new SimpleAdaptiveSlider('.slider', {
                autoplay: true,
                interval: 10000,
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- header-slider -->
    <header>
        <!-- Разметка слайдера -->
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/1.png' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/2.jpg' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/3.jpg' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'vendor/img/4.jpg' %}" alt="..." loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    </header>

    <!-- main -->
    <main>
        {% for category, items in products.items %}
        <div class="testimonials" id="shoes">
            <div class="general-heading">
                <h1>{{ category }}</h1>
                <a href="#">Все модели <i class='bx bxs-right-top-arrow-circle bx-tada'></i></a>
            </div>
            <div class="testimonial-carts">
                {% for item in items %}
                    <div class="testimonial-cart">
                    <div class="images">
                        <img src="{{ item.main_image.url }}" alt=""><br>
                        <a href="{% url 'basket_add' item.id %}"style="margin-top: 70%; font-size: 1.8em; color: #212323; position: relative;">
                            <i class='bx bxs-cart-add' ></i>
                        </a>
                    </div>
                    <div class="testimonial-description">
                        <a href="{% url 'product' item.id %}" target="_blank">
                            <h2 class="testimonial-title-desctiption">
                                 {{ item.name }}
                            </h2>
                        </a>
                        <div class="price-and-status"><span class="testimonial-price">от {{ item.price }}</span>
                            {% if item.in_stock %}<span>В НАЛИЧИИ</span>{% else %}<span class="tag"> По запросу</span>{% endif %}
                        </div>
                    </div>
                    <a href="{% url 'product' item.id %}" class="testimonial-button-go-over">
                        <button>Перейти</button>
                    </a>

                </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}

