{% extends 'products/base.html' %}
{% load  static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/style/product.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/style/slider.css' %}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // инициализация слайдера
            var slider = new SimpleAdaptiveSlider('.slider', {
                autoplay: false,
                interval: 10000,
            });
        });
    </script>
{% endblock %}

{% block content %}
     <main>
        <span>
            <a href="index.html">
                Главная
            </a>\
            <a href="#">
                Одежда
            </a>\
            NIKE LIFE CABLE KNIT SWEATER OXEN BROWN
        </span>

        <div class="product">
            <div class="product-slider">
                <!-- Разметка слайдера -->
                <div class="slider slider-product">
                    <div class="slider__wrapper">
                        <div class="slider__items">
                            <div class="slider__item slider-item-product">
                                <img class="img-fluid img-fluid-to-product" src="https://pngimg.com/uploads/hoodie/hoodie_PNG24.png" alt="..."
                                    loading="lazy">
                            </div>
                            <div class="slider__item slider-item-product">
                                <img class="img-fluid img-fluid-to-product" src="https://pngimg.com/uploads/hoodie/hoodie_PNG22.png" alt="..."
                                    loading="lazy">
                            </div>
                            <div class="slider__item slider-item-product">
                                <img class="img-fluid img-fluid-to-product" src="https://www.pngarts.com/files/11/Sweatshirt-Hoodie-PNG-High-Quality-Image.png" alt="..."
                                    loading="lazy">
                            </div>
                            <div class="slider__item slider-item-product">
                                <img class="img-fluid img-fluid-to-product" src="https://pngimg.com/uploads/hoodie/hoodie_PNG29.png" alt="..."
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <a class="slider__control slider__control_prev slider-cont-product slider__control_prev-p" href="#" role="button" data-slide="prev"></a>
                    <a class="slider__control slider__control_next slider-cont-product slider__control_next-p" href="#" role="button" data-slide="next"></a>
                </div>
            </div>
            <div class="product-other">
                <h3>NIKE LIFE CABLE KNIT SWEATER OXEN BROWN</h3>
                <span>От 39 900 ₽</span>

                <p>РАЗМЕРЫ</p>
                <div class="size">
                    <form>
                        <div class="form_radio_btn">
                            <input id="radio-1" type="radio" name="radio" value="S" checked>
                            <label for="radio-1">S<br><span>От 39 900 ₽</span></label>
                        </div>

                        <div class="form_radio_btn">
                            <input id="radio-2" type="radio" name="radio" value="M">
                            <label for="radio-2">M<br><span>От 39 900 ₽</span></label>
                        </div>

                        <div class="form_radio_btn">
                            <input id="radio-3" type="radio" name="radio" value="L">
                            <label for="radio-3">L<br><span>От 39 900 ₽</span></label>
                        </div>

                        <div class="form_radio_btn">
                            <input id="radio-4" type="radio" name="radio" value="XL">
                            <label for="radio-4">XL<br><span>От 39 900 ₽</span></label>
                        </div>

                        <div class="form_radio_btn">
                            <input id="radio-5" type="radio" name="radio" value="XXL">
                            <label for="radio-5">XXL<br><span>От 39 900 ₽</span></label>
                        </div>

                        <div class="form_radio_btn">
                            <input id="radio-6" type="radio" name="radio" value="XXXL">
                            <label for="radio-6">XXXL<br><span>От 39 900 ₽</span></label>
                        </div>

                        <!-- <div class="form_radio_btn">
                            <input id="radio-4" type="radio" name="radio" value="4" disabled>
                            <label for="radio-4">M<br>От 39 900 ₽</label>
                        </div> -->

                        <input type="submit" value="ДОБАВИТЬ В КОРЗИНУ" class="submit-to-cart">
                    </form>
                </div>


            </div>
        </div>
    </main>
{% endblock %}
