{% extends 'products/base.html' %}
{% load  static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/style/product.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/style/slider.css' %}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/script.js' %}"></script>
    {% if product.additional_images.all.count == 0 %}{% else %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // инициализация слайдера
                var slider = new SimpleAdaptiveSlider('.slider', {
                    autoplay: false,
                    interval: 10000,
                });
            });
        </script>
    {% endif %}

{% endblock %}

{% block content %}
     <main>
        <span>
            <a href="index.html">
                Главная
            </a>\
            <a href="#">
                Одежда
            </a>\
            NIKE LIFE CABLE KNIT SWEATER OXEN BROWN
        </span>

        <div class="product">
            <div class="product-slider">
                <!-- Разметка слайдера -->
                <div class="slider slider-product">
                    <div class="slider__wrapper">
                        <div class="slider__items">
                             {% for image in product.additional_images.all %}
                                <div class="slider__item slider-item-product">
                                    <img class="img-fluid img-fluid-to-product" src="{{ image.image.url }}" alt="..." loading="lazy">
                                </div>
                            {% endfor %}
                            {% if product.additional_images.all.count == 0 %}
                                <div class="slider__item slider-item-product">
                                    <img class="img-fluid img-fluid-to-product" src="{{ product.main_image.url }}" alt="..." loading="lazy">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <a class="slider__control slider__control_prev slider-cont-product slider__control_prev-p" href="#" role="button" data-slide="prev"></a>
                    <a class="slider__control slider__control_next slider-cont-product slider__control_next-p" href="#" role="button" data-slide="next"></a>
                </div>
            </div>
            <div class="product-other">
                <h3>{{ product.name }}</h3>
                <span>От {{ product.converted_price|intcomma }} ₽</span>

                <p>РАЗМЕРЫ</p>
                <div class="size">
                    <form method="post" action="{% url 'basket_add' product.id %}">
                        {% csrf_token %}
                        {% for size in product.size_set.all %}
                            <div class="form_radio_btn">
                                <input id="radio-{{ size.id }}" type="radio" name="size" value="{{ size.id }}">
                                <label for="radio-{{ size.id }}">{{ size.name }}<br><span>От {{ size.converted_price|intcomma }} ₽</span></label>
                            </div>
                        {% endfor %}
                    {% if product.in_stock %}
                        <input type="submit" value="ДОБАВИТЬ В КОРЗИНУ" class="submit-to-cart">
                    {% else %}
                        <a href="#" class="submit-to-cart" style="display: block; text-align: center">Запросить покупку</a>
                    {% endif %}
                    </form>
                </div>
            </div>
            </div>
    </main>
{% endblock %}
